package eventpgs

import "github.com/freitasmatheusrn/social-fit/internal/events/dtos"

templ EventsList(events []dtos.EventCard) {
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
		for _, event := range events {
			@EventCard(event)
		}
	</div>
}