package components


templ Base() {
	<!DOCTYPE html>
	<html lang="pt-BR">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/assets/output.css" rel="stylesheet"/>
			<title>Cadastro</title>
		</head>
		<body class="bg-gradient-to-br from-purple-50 to-purple-100 min-h-screen">
			<div id="content">
				{ children... }
			</div>
		</body>
	</html>
}